name: Java CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - uses: actions/checkout@v3.5.2
      - name: Set up JDK 17
        uses: actions/setup-java@v3.11.0
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots package

      - name: Prepare database for integration tests
        run: |
          sudo /etc/init.d/mysql start
          mysql -uroot -proot < cinemaDB.sql
          mvn --batch-mode --update-snapshots datanucleus:enhance datanucleus:schema-create

      - name: Build with Maven including integration tests
        run: mvn --batch-mode --update-snapshots package
